*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(72, 72, 85, 0.107);

}
p{
    font-size:20px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
}
.container{
    width: 90%;
    max-width: 450px;
    background:linear-gradient(125deg,#02a7ff,#adc20c);
    margin: 80px auto 0;
    border-radius: 10px;
    padding: 40px 40px;
    text-align: center;
}
.search_box{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_box input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: 0;
    height: 50px;
    background-color: aliceblue;
    color: #555;
    margin-right: 14px;
    font-size: 20px;
    border-radius:20px 0px 0px 20px;
}
.search_box button{
    border-radius: 50%;
    outline: 0;
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search_box img{
    width: 16px;
    margin-top: 6px;
}
.weather-img{
    width: 150px;
    margin-top: 20px;
}
.weather_detailes h1{   
        font-size: 4em;
        font-weight: 500;
}
.weather_detailes h2{   
    font-size: 40px;
    font-weight: 400;
}
.weather{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.weather img{
    width: 70px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 44px;
    margin-right:10px ;
}
video{
    position: absolute;
     left: 0;
     right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}
#clouds{
display: none;
}
#rainy{
    display: none;
}
#clear{
    display: none;
}
.error{
    color: rgb(255, 0, 0);
    display: block;
}

@media screen and (max-width:414px) {

    .container{
        width: 90%;
        max-width: 450px;
        background:linear-gradient(125deg,#02a7ff,#adc20c);
       
        height: 100vh;
    }
    .search_box input{
        width: 100px;
        height: 40px;
        border-radius:20px ;
        font-size: 12px;
    }
    .search_box button{
        border-radius: 50%;
        outline: 0;
        border: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .weather{
        display: block;
       
    }
    .col{
       
       padding: 30px;
    }
   
    .error{
        margin-top: 20px;
        color: rgb(0, 0, 0);
    }
}